@media only screen and (min-width: 38rem){
    #directory-entries section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "image "
    "name"
    "description"
    ;
    border: 2px solid blue;
    padding: 30px;
    margin-top: 10px;
}
#directory-entries img{
    grid-area: image;
    width: 350px;
    height: 250px;
}
#directory-entries h2{
    grid-area: name;
}
#directory-entries p{
    grid-area: description;
}
}