body {
    width: 900px;
    font-family: roboto sans-serif;
}
h1{
    color: green;
    text-align: center;
    font-weight: 400 bold;


}
h2{
    color: green;
    text-align: center;
    
}
p{
    font-weight: 100 bold;
    font-size: 1rem;
}