body {
    width: 900px;
    font-family: roboto sans-serif;
    margin-left: px;
}
header{
    background-color: green;
    padding: 10px;
}
h1{

    text-align: center;
    font-weight: 400 bold;


}
h2{
    color: green;
    text-align: center;
    
}
p{
    font-weight: 100 bold;
    font-size: 1.2rem;
}
span{
    color: red;
}
img{
    width: 600px;
}
footer{
    background-color: black;
    padding: 15px;
    color: white;
    text-align: center;
}