body{
    font-family: Arial, sans-serif;
    margin-left: 20px;
    padding: 0;
}
header{
    display:grid;
    grid-template-columns: 24px auto 44px;
    g
}
header img{
    width:100%;
    height:auto;
}