body{
    font-family: Arial, sans-serif;
    margin-left: 20px;
    padding: 0;
    width: 900px;
    margin-left: 250px;
}
header{
    display:grid;
    grid-template-columns: 24px auto 44px;
    gap:10px;
    align-items:center;
    background-color: lightgrey;
}
header img{
    width:100%;
    height:auto;
}
.hamburger{
    border:none;
    cursor:pointer;
}
.hamburger::before{
    content: "\2630";
    font-size: 32px;
}
#ham-btn{
    font-size: 32px;
    display:block;
}
.ham-btn::before{
    content: "\2630";
}
.navigation{{

}
nav ul{
    list-style-type: none;
    display:block;
}
nav a:hover{
    color: purple;
}
#directory-entries{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:20px;
    margin-top:20px;
}
#directory-entries img{
    width:100%;
    height:auto;
}
h2{
    text-align: center;
}
footer{
    display:grid;
    border-top: 1px solid black;
    padding-top: 5px;
    align-items: center;
}
.contact{
    grid-column: 1;
    text-align: center;
}
.media{
    display:flex;
    gap:2px;
    grid-column: 2;
}
.media a img{
    width:44px;
    height:44px;
}
.copy-right{
    grid-column: 3;
    text-align: left;
}