body{
    display:grid;
    grid-template-columns: auto;
    font-family: Arial, sans-serif;
    padding: 0;
}
header{
    display:grid;
    grid-template-columns: 24px auto 44px;
    gap:10px;
    align-items:center;
    background-color: lightgrey;
}
header img{
    width:100%;
    height:auto;
}
.hamburger{
    border:none;
    cursor:pointer;
    font-size: 32px;
}
.hamburger::before{
    content: "\2630";
    font-size: 32px;
}
.hamburger.show::before{
    content: "\2715";
}
.navigate{
    display:none;
}
.navigate.show{
    display:block;
}
nav ul{
    list-style-type: none;
    display:block;
}
nav a:hover{
    color: purple;
}
#directory-entries{
    display:grid;
    grid-template-columns: auto;
    gap:20px;
    margin-top:20px;
}
#directory-entries img{
    width:100%;
    height:auto;
}
h2{
    text-align: center;
}
footer{
    border-top: 1px solid black;
    padding-top: 5px;
    ju: center;

}

.media img{
    width:44px;
    height:44px;
}