@media only screen and (min-width: 38rem) {
    body{
        grid-template-columns: auto;
        margin-left: 200px;
         max-width: 900;
    }
    header{
        grid-template-columns: 24px auto;
    }
    .hamburger{
        display:none;
    }
    .navigate{
        display:flex;
        flex-direction: row;
    }

}