@media only screen and (min-width: 50rem) {
    body{
        margin-left: 200px;
    }
    header{
        grid-template-columns: 24px auto;
        font-size: 42px;
        padding: 15px;
    }
    #navigation{
        display:block;
        padding: 5px;
    }
    .hamburger{
        display:none;
    }
    .navigate ul{
        display:flex;
        flex-direction: row;
        gap: 15px;
    }
    .content{
        display:grid;
        grid-template-columns: auto auto auto;
        gap:20px;
    }
    #design{
        display:grid;
        grid-template-columns: auto auto;
    }
    form{
        grid-column: 1;
    }
    section {
        display:flex;
        flex-direction: column;
        grid-column: 2;
    }
    #discover-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gr
    }
    #discover-container section img{
        width: 300px;
    }
    #weather img{
    margin-left: 70px;
    }
    #members-container img{
    margin-left: 70px;
    }
    .events{
        display:flex;
        flex-direction: column;
        grid-column: 1;
        width: 100%;
    }
    .weather{
        display: flex;
        flex-direction: column;
        grid-column: 2;
        width: 100%;
    }
    #members-container{
        display: flex;
        flex-direction: column;
        grid-column: 3;
        width: 100%;
    }
    footer{
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
    }
    .contact{
        grid-column: 1;
    }
    .media{
        grid-column: 2;
        justify-content: center;
    }
    .copy-right{
        grid-column: 3;
    }

}