@media only screen and (min-width: 38rem){
    #discover-container section{
    grid-template-areas:
    "image name"
    "image description"
    "image";
    }
    #discover-container section p{
    grid-area: image description;
    }
    #discover section h2{
    grid-area: image name;
    }
    #discover section img{
    grid-area: image;


    }
}