@media only screen and (min-width: 38rem){
    #discover-container section{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "image name"
        "image description";
    }

}
