@media only screen and (min-width: 38rem) {
    header, main, nav,footer{
        grid-template-columns: auto;
    }
    .hamburger {
        display: none;
    }
    nav.beta {
        display: block;
    }
};