@media only screen and (min-width: 38rem) {
    header, main, nav,footer{
        max-width: 850px;
        margin: 0;
    }
    header {
        grid-template-columns: 24px auto;
    }
    main{
        grid-template-columns: ;
    }
    .hamburger {
        display: none;
    }
    .beta {
        display: block;
    }
    .beta ul{
        display: flex;
        list-style-type: none;
        gap: 1rem;
    }
}