@media only screen and (min-width: 38rem) {
    header, main, nav,footer{
        max-width: 850px;
        
    }
    .hamburger {
        display: none;
    }
    nav.beta {
        display: block;
    }
};