@media only screen and (max-width: 600px) {
    body{
        grid-template-columns: auto;
    }
    .hamburger {
        display: none;
    }
    nav.beta {
        display: ;
    }
    nav.beta{
        display: flex;
    }
};