@media only screen and (min-width: 38rem) {
    body{
        margin-left: ;
         max-width: 840px;
    }
    header, main, nav,footer{
        max-width: 840px;
        margin: 0;
    }
    header {
        grid-template-columns: 24px auto;
    }
    main{
        display: grid;
        grid-template-columns: auto auto;
        gap: 0;
    }
    .about{
        display:flex;
        flex-direction: column;
        grid-column: 1;
        width: 500px;
    }
    .card{
        display:flex;
        flex-direction: column;
        grid-column: 2;
        width: 250px;
    }
    .hamburger {
        display: none;
    }
    .beta {
        display: block;
    }
    .beta ul{
        display: flex;
        list-style-type: none;
        gap: 1rem;
    }
    .about .card{
        display:grid;
        grid-template-columns: auto auto;
    }
    .about .card img{
        
        grid-column: 1 / 2;
        width: 100%;
        height: auto;
    }
    #courseList{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    #courseList li{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 200px;

    }
}