@media only screen and (min-width: 38rem) {
    body{
        mar
    }
    header, main, nav,footer{
        max-width: 900px;
        margin: 0;
    }
    header {
        grid-template-columns: 24px auto;
    }
    main{
    display: grid;
    grid-template-columns: auto auto;
    }
    .about{
        grid-column: 1;
    }
    .card{
        grid-column: 2;
    }
    .hamburger {
        display: none;
    }
    .beta {
        display: block;
    }
    .beta ul{
        display: flex;
        list-style-type: none;
        gap: 1rem;
    }
}