@media only screen and (min-width: 600px) {
    {
        grid-template-columns: auto auto;
    }
    .hamburger {
        display: none;
    }
    nav.beta {
        display: block;
    }
    nav.beta{
        display: flex;
    }
};