@media only screen and (min-width: 38rem) {
    body{
        margin-left: 150px;
    }
    header, main, nav,footer{
        max-width: 900px;
        margin: 0;
    }
    header {
        grid-template-columns: 24px auto;
    }
    main{
    display: grid;
    grid-template-columns: auto auto;
    }
    .about{
        grid-column: 1;
    }
    .card{
        grid-column: 2;
    }
    .hamburger {
        display: none;
    }
    .beta {
        display: block;
    }
    .beta ul{
        display: flex;
        list-style-type: none;
        gap: 1rem;
    }
    .filter{
        display: flex;
        flex-direction: row;
    }
    #courseList{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    #courseList li{
        padding: 10px;
        width: 40%;
    }
}