body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
main {
    display:grid;
    grid-template-columns: auto auto auto;
}
header, footer {
    display: flex;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
img {
    max-width: 100%;
    height: auto;
    align-items: c;
}