body{
    font-family: 'Roboto', sans-serif;
    width: 900px;
    padding: 10px;
}
header{
    display:grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 10px;
    align-items: center;
    background-color: lightgray;
    padding: 10px;

}
header img{
    grid-column: 1 / 2;
    width: 100%;
    height: auto;
}
header span{
    grid-column: 2 / 3;
    font-size: 2rem;
    font-weight: 700;
    color:green;
}
.hamburger{
    grid-column: 3 / 4;
    width: 100%;
    height: auto;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}
.hamburger::before{
    content: "\2630";
}
.hamburger.show::after{
    content: "\00D7";
}
nav.beta{
    padding: 10px;
    margin-top: 10px;
}
.beta a:hover{
    color: red;
}
main{
    display: grid;
    grid-template-columns: auto auto;
}
h2
.about{
    grid-column: 1;
    margin-bottom: 20px;
}
.card{

}
