body{
    font-family: 'Roboto', sans-serif;
    width: 900px;
    padding: 10px;
}
header{
    display:grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 10px;
    align-items: center;
    background-color: lightgray;
    padding: 10px;

}
header img{
    grid-column: 1 / 2;
    width: 100%;
    height: auto;
}
header span{
    grid-column: 2 / 3;
    font-size: 1.5rem;
    font-weight: 700;
    color:green;
}
.hamburger{
    grid-column: 3 / 4;
    width: 100%;
    height: auto;
    background-image: url('../images/hamburger.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}
