body{
    font-family: 'Roboto', sans-serif;
    width: 900px;
    padding: 10px;
    align-items: center;
}
header{
    display:grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 10px;
    align-items: center;
    background-color: lightgray;
    padding: 10px;

}
header img{
    grid-column: 1 / 2;
    width: 100%;
    height: auto;
}
header span{
    grid-column: 2 / 3;
    font-size: 2rem;
    font-weight: 700;
    color:green;
}
.hamburger{
    grid-column: 3 / 4;
    width: 100%;
    height: auto;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}
.hamburger::before{
    content: "\2630";
}
.hamburger.show::before{
    content: "\00D7";
}
nav.beta{
    padding: 10px;
    margin-top: 10px;
}
.beta.show::before{
    content: "none";
    display: ;
}
.beta a:hover{
    color: red;
}
main{
    display: grid;
    grid-template-columns: auto auto;
}
h2{
    grid-column: 1;
    text-align: center;
    margin-bottom: 20px;
}
.about{
    grid-column: 1;
    margin-bottom: 20px;
}
footer{
    display: block;
    margin: 0;
    padding: 10px;
    background-color: lightgray;
    text-align: center;
}
footer img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}

