body{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    align-items: center;
}
header{
    display:grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 10px;
    align-items: center;
    background-color: lightgray;
    padding: 10px;

}
header img{
    grid-column: 1 / 2;
    width: 100%;
    height: auto;
}
header span{
    display:flex
    grid-column: 2 / 3;
    font-size: 2rem;
    font-weight: 700;
    color:green;
}

.hamburger{
    grid-column: 3 / 4;
    width: 100%;
    height: auto;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}
.hamburger::before{
    content: "\2630";
}
.hamburger.show::before{
    content: "\00D7";
}
.beta{
    padding: 10px;
    margin-top: 10px;
    display: none;
}
.beta.show{
    display: block;
}
.beta a:hover{
    color: red;
}
.beta a{
    text-decoration: none;
}

h2{
    text-align: center;
}

 button {
     margin: 5px; padding: 6px 12px;
}

.taken {
    color: green;
    font-weight: bold;
}
.card img{
    margin-left: 150px;
}
.not-taken {
    color: red;
    font-weight: bold;
}
#courseList{
    list-style-type: none;
}
 #courseList li{
        border: 1px solid black;
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        text-align: center;;
}

footer{
    display: block;
    margin: 0;
    padding: 10px;
    background-color: lightgray;
    text-align: center;

}
footer img{
    width: 45px;
    height: auto;
    margin-right: 10px;
}

